body {
    background-color: #A0D7FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main {
    height: 65vh;
    width: 35vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    margin-top: 1.2em;
    display: flex;
    gap: 15px;
}

.calculator {
    height: 87%;
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);    
}

button {
    background-color: rgba(255, 255, 255);
    border-style: none;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 200;
    margin-left: 5px;
    padding: 25px;
    font-size: 1.5rem;
}

.calculator .buttons {
    display: flex;
    flex-direction: column;
}