body {
    background-color: #A0D7FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main {
    height: 80vh;
    width: 35vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    margin-top: 1.0em;
    display: flex;
    gap: 7px;
}

.calculator {
    height: 87%;
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);    
    min-width: 350px;
    min-height: 650px;
}

button {
    background-color: rgba(255, 255, 255);
    border-style: none;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 200;
    margin-left: 1px;
    padding: 25px;
    font-size: 1.5rem;
}

.calculator .buttons {
    display: flex;
    flex-direction: column;
}

.calculator .display {
    height: 20%;
}

.calculator .display #display {
    background: none;
    width: 100%;
    height: 100%;
    border-style: none;
    font-size: 100px;
    text-align: right;
}

.zero {
    flex-grow: 1;
}

.digit {
    flex: 1;
}

.first-row button {
    flex: 1;
}